.textContainer{
    cursor: pointer;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    background: #ffff;
}
.textContainerIsShow{
    cursor: pointer;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    background: #edf2f7;
    border-right: 3px solid #4d95b3;
}
.textContainerIsShowRtl{
    cursor: pointer;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    background: #edf2f7;
    border-left: 3px solid #4d95b3;
}
.textContainer:hover{
    background: #edf2f7;
}